@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(220, 220, 221); */
}

h1{
    text-align: center;
    background-color: #96CEB4;
    color: white;
}

h1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Lexend Deca;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #BFFFF0;
}

.contain{
    display: grid;
    gap: 10px;
    width: 810px;
}

#top{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.first{
    width: 500px;
    height: 300px;
    background-color: #293462;
}

.second{
    width: 300px;
    height: 300px;
    background-color: #F24C4C;
}

#bottom{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin: 0 auto;
}

.third{
    width: 330px;
    height: 290px;
    background-color: #EC9B3B;
}

#right{
    display: grid;
    gap: 10px;
}

.fourth{
    width: 470px;
    height: 140px;
    background-color: #F7D716;
}

.fifth{
    width: 470px;
    height: 140px;
    background-color: #F7D716;
}
